LoggingService.Endpoints=tcp -h localhost -p 9999
LoggingService-udp.Endpoints=udp -h localhost -p 9999
LoggingService-mcast.Endpoints=udp -h 225.100.100.100 -p 9999

Freeze.DbEnv.IceStorm.DbHome=/eso50cm/SWROOT/db
IceStorm.TopicManager.Endpoints=tcp -h 127.0.0.1 -p 10000
IceStormAdmin.TopicManager.Default=IceStorm/TopicManager:tcp -h 127.0.0.1 -p 10000
IceStorm.Publish.Endpoints=tcp -h 127.0.0.1 -p 2000
LogPublisher.Subscriber.Endpoints=tcp -h 127.0.0.1
IceStorm.Flush.Timeout = 2000

